Problem Statement
You have been provided with a dataset that contains the costs of advertising on different media Channels and the corresponding sales of XYZ firm. Evaluate the dataset to:

1.Find the features or media channals used by the firm
2.Find the sales figures for each channel
3.Create a model to predict the salse outcome
4.Split it into training and testing datasets for the model
5.Calculate the mean squared error (MSE)

In [25]:
#import the required liabraries
import pandas as pd

In [26]:
#import the advertising dataset
df_adv_data = pd.read_csv('Datasets\OSL Datasets\Advertising.csv')

In [27]:
df_adv_data.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [28]:
#view the dataset size
df_adv_data.size

1000

In [29]:
#view the shape of dataset
df_adv_data.shape

(200, 5)

In [30]:
#view the columns of dataset
df_adv_data.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

In [31]:
#create a feature object from the columns
X_feature = df_adv_data[['Newspaper Ad Budget ($)','Radio Ad Budget ($)','TV Ad Budget ($)']]

In [32]:
X_feature.columns

Index(['Newspaper Ad Budget ($)', 'Radio Ad Budget ($)', 'TV Ad Budget ($)'], dtype='object')

In [33]:
#rename columns
X_feature.rename(columns = {'Newspaper Ad Budget ($)':'Newspaper'}, inplace = True)
X_feature.rename(columns = {'Radio Ad Budget ($)':'Radio'}, inplace = True)
X_feature.rename(columns = {'TV Ad Budget ($)':'Tv'}, inplace = True)

C:\Users\ACER\AppData\Local\Temp\ipykernel_8024\938145848.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_feature.rename(columns = {'Newspaper Ad Budget ($)':'Newspaper'}, inplace = True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_8024\938145848.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_feature.rename(columns = {'Radio Ad Budget ($)':'Radio'}, inplace = True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_8024\938145848.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_feature.rename(columns = {'TV Ad Budget ($)':'Tv'}, inplace = True)

In [34]:
#view feature object
X_feature.head()

   Newspaper  Radio     Tv
0       69.2   37.8  230.1
1       45.1   39.3   44.5
2       69.3   45.9   17.2
3       58.5   41.3  151.5
4       58.4   10.8  180.8

In [35]:
#create target object from sales column which is a response in the dataset
Y_target = df_adv_data[['Sales ($)']]
Y_target.rename(columns = {'Sales ($)':'Sales'}, inplace = True)

C:\Users\ACER\AppData\Local\Temp\ipykernel_8024\3451921486.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y_target.rename(columns = {'Sales ($)':'Sales'}, inplace = True)

In [36]:
#view the target object
Y_target.head()

   Sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [37]:
#view target object shape
Y_target.shape

(200, 1)

In [38]:
#split testing and training data
#by default 75% training data and 25% testing data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X_feature,Y_target,random_state=1)

In [39]:
#view the shapes of train and test datasets for both feature and response
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(150, 3)
(50, 3)
(150, 1)
(50, 1)

In [43]:
#linear regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [44]:
#print the intercept and coefficients
print(linreg.intercept_)
print(linreg.coef_)

[2.87696662]
[[0.00345046 0.17915812 0.04656457]]

In [45]:
#prediction
y_pred = linreg.predict(x_test)
y_pred

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

In [46]:
#import the liabraries to calculate the root men square error(MSE)
from sklearn import metrics
import numpy as np

In [49]:
#calculate the root mean square error(MSE)
error = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
print(error)

1.4046514230328957